:root {
	--blur-header-margin: 0.4rem;
}

.header {
	width: 100%;
	position: fixed;
	will-change: transform;
	top: 0.5rem;
	left: 0;
	z-index: var(--z-fixed);
}

.header__blur {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border-radius: 0.5rem;

	background-color: var(--first-color-lighter);
	opacity: 0.8;

	box-shadow: 1px 1px 4px var(--shadow), -1px -1px 4px var(--shadow);
}

.nav {
	position: relative;

	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);

	padding: 0rem 1rem;
	border-radius: 0.5rem;
}

.nav__content {
	position: relative;

	max-width: var(--app-max-width);
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		top: -100%;
		visibility: hidden;
		left: 0;
		right: 0;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding-top: 1.5rem;

		background-color: var(--first-color-lighter);
		border-radius: 1rem;
		transition: top 0.4s;

		box-shadow: 1px 1px 4px var(--shadow), -1px -1px 4px var(--shadow);
	}

	.nav__menu-closer {
		position: fixed;
		top: 0;
		bottom: 0;

		width: 100%;

		height: 100vh;
		height: var(--app-height);
	}

	.nav__link {
		width: 100%;
		min-width: 100%;
		display: inline-block;
	}
}

.nav__logo,
.nav__toggle {
	color: var(--title-color);
	font-weight: var(--font-medium);

	display: inline-flex;
	align-items: center;
}

.nav__link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__link:hover,
.nav__logo:hover,
.nav__toggle:hover {
	color: var(--first-color);
}

.nav__link.is-active:hover div::before {
	background-color: var(--first-color);
}

.nav__link.is-active div {
	position: relative;
	width: fit-content;
}

.nav__link.is-active div::before {
	position: absolute;
	top: 100%;
	left: 0;

	content: '';
	height: 2px;

	width: 100%;

	border-radius: 1rem;

	background-color: var(--text-color);
	z-index: calc(var(--z-fixed) + 2);
}

.nav__item {
	margin-bottom: 1.5rem;
}

.nav__toggle {
	font-size: 1.25rem;
	cursor: pointer;
}

.show-menu {
	visibility: visible;
	top: calc(var(--header-height) + 1rem);
}

@media screen and (min-width: 769px) {
	.nav__list {
		display: flex;
	}

	.nav__item {
		margin-right: 2rem;
		margin-bottom: 0;
	}

	.nav__link {
		color: var(--title-color);
	}

	.nav__toggle {
		display: none;
	}
}
