.divider__wrapper {
	width: 100%;
	position: relative;

	display: flex;
	align-items: center;

	margin-top: 2rem;
	margin-bottom: 2rem;
}

.divider {
	width: 100%;

	height: 1px;
	background-color: var(--text-color);

	opacity: 0.5;
}

.divider__icon {
	font-size: 1.25rem;

	color: var(--text-color);

	position: absolute;

	left: 50%;
	transform: translateX(-50%);

	background-color: var(--body-color);
	border-radius: 50%;
	padding: 1rem;
}

.divider__icon svg {
	fill: var(--text-color);
}
