:root {
	--controls-image-size: 35px;
	--controls-image-active-size: 45px;
}

.home {
	height: 100vh;
	height: var(--app-height);
}

.home .swiper,
.home .swiper .swiper-wrapper {
	height: 100%;
}

.trips {
	position: relative;
}

.trips__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

.trips__container {
	position: relative;
	height: 100%;
	display: grid;

	grid-template-columns: 2fr 0.25fr;
	align-content: center;
}

.trips__subtitle,
.trips__title,
.trips__description {
	color: var(--first-color-lighter);
}

.trips__subtitle {
	font-size: var(--big-font-size);
	font-weight: var(--font-medium);
}

.trips__title {
	font-size: var(--biggest-font-size);
}

.trips__description {
	margin-bottom: 1rem;
}

.trips__button {
	display: inline-flex;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: var(--first-color-lighter);
	color: var(--first-color);
	border-radius: 0.5rem;
	font-weight: var(--font-medium);
}

.trips__button:hover {
	background-color: var(--body-color);
}

.trips__button-icon {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

.controls__img {
	width: var(--controls-image-size) !important;
	height: var(--controls-image-size) !important;
	max-width: var(--controls-image-size) !important;
	min-width: var(--controls-image-size) !important;

	border-radius: 0.5rem;
	cursor: pointer;
}

.controls {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);

	padding: 0.25rem 0.5rem;
	border-radius: 0.75rem;
	background-color: var(--first-color-lighter);
	z-index: var(--z-tooltip);
	overflow: hidden;
}

.controls__container {
	display: flex;

	align-items: center;
	column-gap: 1rem;
}

.controls__container .swiper-wrapper {
	width: fit-content;
	height: fit-content;

	column-gap: 8px;

	align-items: center !important;
}

.controls__container .swiper-wrapper .swiper-slide {
	margin: 0 !important;
	padding: 0 !important;
}

.controls__container
	.swiper-wrapper
	.swiper-slide:not(.swiper-slide-thumb-active) {
	width: var(--controls-image-size) !important;
	height: var(--controls-image-size) !important;
}

.swiper-slide-thumb-active {
	width: var(--controls-image-active-size) !important;
	height: var(--controls-image-active-size) !important;
}

.swiper-slide-thumb-active .controls__img {
	width: var(--controls-image-active-size) !important;
	height: var(--controls-image-active-size) !important;
	max-width: var(--controls-image-active-size) !important;
	min-width: var(--controls-image-active-size) !important;
}
