.footer__wrapper {
	width: 100%;
	/* min-height: 300px; */

	background-color: var(--first-color-lighter);
}

.footer {
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;

	padding-top: 3.5rem;
	padding-bottom: 3.5rem;

	gap: 2rem;
}

.footer * {
	white-space: nowrap;
}

@media screen and (max-width: 768px) {
	.footer {
		justify-items: flex-start;
		padding-left: 1.25rem;
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 425px) {
	.footer {
		grid-template-columns: 1fr;
	}
}

.footer__site-info,
.footer__site-nav,
.footer__projects {
	display: flex;
	flex-direction: column;

	row-gap: 1rem;
}

.site-info__title {
	color: var(--title-color);
	font-size: var(--big-font-size);
}

.site-info__subtile {
	font-size: var(--small-font-size);
}

.site-info__copy {
	font-size: var(--small-font-size);
	opacity: 0.6;
}

.site-nav__item {
	font-family: inherit;
	color: inherit;
	font-size: var(--normal-font-size);
}

.projects__item {
	font-family: inherit;
	color: var(--text-color);
	font-size: var(--normal-font-size);
}

.site-info__contacts-item {
	position: relative;
	display: flex;

	width: fit-content;
	height: fit-content;
}

.site-info__contacts-item svg {
	fill: var(--text-color);
}

.site-info__contacts-item .site-info__contacts-item__tooltip {
	position: absolute;
	top: calc(100% + 4px);

	left: 50%;

	transform: translateX(-50%);

	background-color: var(--title-color);
	color: #fff;

	padding: 5px 8px;

	border-radius: 0.25rem;

	z-index: var(--z-tooltip);

	display: none;
}

.site-info__contacts-item .site-info__contacts-item__tooltip-arrow {
	position: absolute;

	top: calc(100% + 4px);

	transform: translateY(-25%);

	display: none;
}

.site-info__contacts-item .site-info__contacts-item__tooltip-arrow svg {
	fill: var(--title-color);
}

.site-nav__item,
.site-info__contacts-item,
.projects__item {
	border-radius: 0.25rem;
}

.site-nav__item:hover,
.site-info__contacts-item:hover,
.projects__item:hover {
	color: var(--title-color);
}

.site-nav__item:focus-visible,
.projects__item:focus-visible {
	color: var(--title-color);
	outline: 1px solid var(--title-color);
	outline-offset: 2px;
}

.site-info__contacts-item:focus-visible {
	outline: none;
	/* outline-offset: 4px; */
}

.site-info__contacts-item:focus-visible svg,
.site-info__contacts-item:hover svg {
	fill: var(--title-color);
}

.site-info__contacts-item:focus-visible .site-info__contacts-item__tooltip,
.site-info__contacts-item:hover .site-info__contacts-item__tooltip,
.site-info__contacts-item:hover .site-info__contacts-item__tooltip-arrow,
.site-info__contacts-item:focus-visible
	.site-info__contacts-item__tooltip-arrow {
	display: block;
}
