.App {
	position: relative;
}

.bd-container {
	max-width: 968px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

@media screen and (max-width: 320px) {
	.bd-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.bd-container {
		margin-left: auto ;
		margin-right: auto;
	}
}