.App {
	position: relative;
}

.bd-container {
	max-width: var(--app-max-width);
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.btn {
	height: 36px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-weight: var(--font-semi-bold);
	letter-spacing: 0.0892857143em;
}

.btn.btn_contained {
	background-color: var(--first-color);
	color: var(--body-color);
}

.btn.btn_contained:hover {
	opacity: 0.8;
}

@media screen and (max-width: 320px) {
	.bd-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media screen and (min-width: 1036px) {
	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: calc(1024px + 2rem)) {
	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}
}

.coming-soon__info {
	color: inherit;
	font-family: inherit;

	font-size: var(--smaller-font-size);
	opacity: 0.6;

	position: absolute;
	transform: translate(-100%, 1rem);

	padding-left: 0.25rem;
}
